.react_dom_render {
    code {
        font-family: 'Monaco';
        padding: 10px 15px;
        width: 600px;
        color: #333;
        margin: 10px;
        background-color: #f0f0f0;
        border-radius: 4px;
        border: 1px solid #ccc;
        display: block;
    }
    .my_table {
        color: #333;
        font-family: 'Monaco';
        li {
            padding: 10px;
            border: 1px dashed #ccc;
            margin-bottom: 10px;
            .annotate {
                color: #3da70d;
                font-size: 80%;
                margin-left: 20px;
            }
            .gh_arrow_r {
                color: #c7254e;
                margin-right: 10px;
            }
            .gh_jiantou_yemian_xiangyou {
                color: #ee7090;
                margin-right: 5px;
            }
            p {
                color: #666;
            }
            .th {
                margin-top: 10px;
                color: #333;
            }
        }
    }
}
