@import url('//at.alicdn.com/t/font_1414445_36tcmu198m4.css');
@import "variables";
@import "base";
@font-face {
  font-family: 'Politica';
  src: url('./../assets/fonts/Politica-Regular.eot?#iefix') format('embedded-opentype'),  url('./../assets/fonts/Politica-Regular.woff') format('woff'), url('./../assets/fonts/Politica-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
