@import url('//at.alicdn.com/t/font_1414445_ipqjvrrzsml.css');
@import "variables";
@import "base";
@font-face {
  font-family: 'Politica';
  src: url('./../assets/fonts/Politica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SansHans';
  src: url('./../assets/fonts/NotoSansHans-Medium.woff?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monaco';
  src: url('./../assets/fonts/monaco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//全局样式
.fz-26 {font-size: 26px;}
.fz-25 {font-size: 25px;}
.fz-24 {font-size: 24px;}
.fz-23 {font-size: 23px;}
.fz-22 {font-size: 22px;}
.fz-21 {font-size: 21px;}
.fz-20 {font-size: 20px;}
.fz-19 {font-size: 19px;}
.fz-18 {font-size: 18px;}
.fz-17 {font-size: 17px;}
.fz-16 {font-size: 16px;}
.fz-15 {font-size: 15px;}
.fz-13 {font-size: 13px;}
.fz-12 {font-size: 12px;}
.red {
  color: red;
}

@keyframes v_shake {
  0% { transform:rotate(-12deg) }
  5.16129% { transform:rotate(12deg) }
  6.45161% { transform:rotate(24deg) }
  11.6129% { transform:rotate(-24deg) }
  12.90323% { transform:rotate(-24deg) }
  18.06451% { transform:rotate(24deg) }
  19.35484% { transform:rotate(24deg) }
  24.51613% { transform:rotate(-24deg) }
  25.80645% { transform:rotate(-24deg) }
  30.96774% { transform:rotate(24deg) }
  32.25807% { transform:rotate(24deg) }
  37.41935% { transform:rotate(-24deg) }
  38.70968% { transform:rotate(-24deg) }
  43.87097% { transform:rotate(24deg) }
  48.3871% { transform:rotate(0deg) }
  100% { transform:rotate(0deg) }
}

