@import url('//at.alicdn.com/t/font_1414445_ho4blxpz3sf.css');
@import "variables";
@import "base";
@font-face {
  font-family: 'Politica';
  src: url('./../assets/fonts/Politica-Regular.woff') format('woff'), url('./../assets/fonts/Politica-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SansHans';
  src: url('./../assets/fonts/NotoSansHans-Medium.woff?#iefix') format('embedded-opentype'), url('./../assets/fonts/NotoSansHans-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fz-26 {font-size: 26px;}
.fz-25 {font-size: 25px;}
.fz-24 {font-size: 24px;}
.fz-23 {font-size: 23px;}
.fz-22 {font-size: 22px;}
.fz-21 {font-size: 21px;}
.fz-20 {font-size: 20px;}
.fz-19 {font-size: 19px;}
.fz-18 {font-size: 18px;}
.fz-17 {font-size: 17px;}
.fz-16 {font-size: 16px;}
.fz-15 {font-size: 15px;}
.fz-13 {font-size: 13px;}
.fz-12 {font-size: 12px;}
