$ratio: 750/640;
$browser-default-font-size: 14;
$browser-default-font-size-px: 14px;

/* color 色值 */
$color-white: #fff;
$color-Theme: #2c7873;
$color-Blue-Green-light: #6fb98f;
$color-Blue-Green-bold: #004445;
$color-Blue-Green-bolder: #021c1e;
$color-Natural: #a2c523;
$color-Natural-bold: #486b00;
$color-Natural-bolder: #2e4600;
$color-teal-light: #00bfa5;
$color-teal-bold: #00695c;
$color-teal-bolder: #004d40;
$color-red-300: #e57373;
$color-red-400: #ef5350;
$color-red-500: #f44336;
$color-red-900: #b71c1c;
$color-red-a200: #ff5252;

// 字号
.fz-26 {font-size: 26px;}
.fz-25 {font-size: 25px;}
.fz-24 {font-size: 24px;}
.fz-23 {font-size: 23px;}
.fz-22 {font-size: 22px;}
.fz-21 {font-size: 21px;}
.fz-20 {font-size: 20px;}
.fz-19 {font-size: 19px;}
.fz-18 {font-size: 18px;}
.fz-17 {font-size: 17px;}
.fz-16 {font-size: 16px;}
.fz-15 {font-size: 15px;}
.fz-13 {font-size: 13px;}
.fz-12 {font-size: 12px;}
